<ion-header>
  <ion-toolbar color="lasa">
    <ion-title>Current Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="toggleTimeFormat($event)">
    
    <ion-card-header>
      <ion-card-subtitle>Current Time</ion-card-subtitle>
      <ion-card-title>{{ currentTime | timeFormat: preferences ? preferences["twentyfour"] : true }}</ion-card-title>
    </ion-card-header>
    
  </ion-card>
  
  <ion-card color="lasa">
    
    <div *ngIf="currentStatus; else loading">
    <ion-card-header>
      <ion-card-subtitle>Current Period</ion-card-subtitle>
      <ion-card-title>{{ currentStatus.currentPeriod }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <h2 *ngIf="currentStatus.periodEndTime">
        Ends at {{ currentStatus.periodEndTime }}
      </h2>
      <p *ngIf="currentStatus.timeRemaining">
        Time remaining: {{ currentStatus.timeRemaining }}
      </p>
    </ion-card-content>
    </div>
    
    <ng-template #loading>
      <ion-card-content>
        <ion-card-title>Loading...</ion-card-title>
      </ion-card-content>
    </ng-template>
  </ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Install this app by adding it to your home screen.</ion-label>
          <ion-icon name="share-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Tap the time to change between 12-hour and 24-hour time.</ion-label>
          <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Enable virtual bells (requires app open)</ion-label>
          <ion-toggle slot="start" color="lasa" [(ngModel)]="bells" (ngModelChange)="toggleBells($event)"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
</ion-content>
